.box {
     margin-top: 5%;
}
.page{
    background-color:#f9f9f9;
}
.footer{
    margin-bottom: 5%;
}
.error-top{
    margin-top: 10%;
}
.errors{
	background-color: #DDA7A7;
    color: white;
    border-radius: 2px 2px 2px 2px;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}